@use "sass:color";
@use "../../utils/mixins";

@import "../../../../libs/glidejs/css/glide.core.min"; // glide for carousel

.glide {
	&__slides {
		margin-top: 0;
		margin-bottom: 0;
		list-style: none;
	}

	&__slide {
		height: auto; // make slides equal height
		cursor: grab;
	}

	&__bullets {
		display: flex;
		justify-content: center;
	}

	&__arrows {
		@include mixins.medium-devices {
			display: none;
		}
	}

	&__arrow {
		position: absolute;
		top: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 2em;
		height: 2em;
		border-radius: 50%;
		transition: all ease-in-out 0.2s;
		box-shadow: 0 0.2em 1em 0 rgba(0, 0, 0, 20%);
		transform: translateY(-50%);
		z-index: 1;
		cursor: pointer;

		&--prev {
			left: 1em;
		}

		&--next {
			right: 1em;
		}
	}

	&__bullet {
		width: 1em;
		height: 1em;
		margin: 4px;
		border-radius: 50%;
		background-color: #cfcfcf;
		transition: background-color cubic-bezier(0.1, 1, 0.6, 1) 0.3s;
		cursor: pointer;

		&:hover,
		&:focus {
			background-color: color.scale($btnColorActive, $lightness: 50%);
		}

		&--active {
			background-color: $btnColorActive;

			&:hover,
			&:focus {
				background-color: color.scale($btnColorActive, $lightness: 25%);
			}
		}
	}
}
