@use "sass:color";
@use "../../utils/mixins/media-query";
@use "../../utils/mixins/selectors";

@import "../../../../libs/glidejs/css/glide.core.min"; // glide for carousel

.glide {
	&__slides {
		margin-top: 0;
		margin-bottom: 0;
		list-style: none;
	}

	&__slide {
		height: auto; // make slides equal height
		cursor: grab;
	}

	&__bullets {
		display: flex;
		justify-content: center;
	}

	&__arrows {
		$arrows: &;
		opacity: 0.4;
		transition: opacity cubic-bezier(0.1, 1, 0.6, 1) 0.3s;

		@at-root {
			#{selectors.parent-fn($arrows)} .glide:hover #{selectors.bottom-most-fn($arrows)} {
				opacity: 1;
			}
		}

		@include media-query.medium-devices {
			display: none;
		}
	}

	&__arrow {
		$arrow: &;
		position: absolute;
		top: 50%;
		width: 2em;
		height: 2em;
		padding: 0;
		transform: translateY(-50%);
		z-index: 1;
		cursor: pointer;

		&:focus {
			outline: none;
		}

		& > svg {
			width: 100%;
			height: 100%;

			& > path {
				transition: fill cubic-bezier(0.1, 1, 0.6, 1) 0.3s;

				@at-root {
					#{$arrow}:hover > svg > path {
						fill: color.mix($btnColorActive, color.scale(#212121, $lightness: 20%), 15%);
					}

					#{$arrow}:focus > svg > path {
						fill: $btnColorActive;
					}
				}
			}
		}

		&--prev {
			left: -1em;
		}

		&--next {
			right: -1em;
		}
	}

	&__bullet {
		width: 1em;
		height: 1em;
		margin: 4px;
		border-radius: 50%;
		background-color: #cfcfcf;
		transition: background-color cubic-bezier(0.1, 1, 0.6, 1) 0.3s;
		cursor: pointer;

		&:hover,
		&:focus {
			background-color: color.scale($btnColorActive, $lightness: 50%);
		}

		&--active {
			background-color: $btnColorActive;

			&:hover,
			&:focus {
				background-color: color.scale($btnColorActive, $lightness: 25%);
			}
		}
	}
}
