@use "sass:color";
@use "../../utils/mixins/palette";
@use "../../utils/mixins/media-query/media-query-width";
@use "../../utils/mixins/selectors";

@import "../../../../libs/glidejs/css/glide.core.min"; // glide for carousel

.glide {
	&__slides {
		margin-top: 0;
		margin-bottom: 0;
		list-style: none;
	}

	&__slide {
		height: auto; // make slides equal height
		cursor: grab;
	}

	&__bullets {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	&__arrows {
		$arrows: &;

		opacity: 0.4;
		transition: opacity cubic-bezier(0.1, 1, 0.6, 1) 0.3s;

		@at-root {
			#{selectors.parent-fn($arrows)} .glide:hover #{selectors.bottom-most-fn($arrows)} {
				opacity: 1;
			}
		}

		@include media-query-width.medium-devices {
			display: none;
		}
	}

	&__arrow {
		$arrow: &;

		position: absolute;
		top: 50%;
		padding: 1em;
		transform: translateY(-50%);
		cursor: pointer;
		z-index: 1;

		&:focus,
		&:focus-visible {
			outline: none;
		}

		& > svg {
			width: 2em;
			height: 2em;

			& > path {
				fill: color.scale(#212121, $lightness: 30%);
				transition: fill cubic-bezier(0.1, 1, 0.6, 1) 0.3s;

				@at-root {
					#{$arrow}:hover > svg > path {
						fill: color.mix($btnColorActive, #212121, 25%);
					}

					#{$arrow}:focus > svg > path {
						fill: $btnColorActive;
					}
				}
			}
		}

		&--prev {
			left: -1em;
		}

		&--next {
			right: 0;
		}
	}

	&__bullet {
		flex: 0 0 auto;
		width: 0.8em;
		height: 0.8em;
		margin: 4px;
		padding: 0;
		border-radius: 50%;
		background-color: palette.get-palette-hue("interface", 300);
		transition: background-color cubic-bezier(0.1, 1, 0.6, 1) 0.3s;
		cursor: pointer;

		&:hover,
		&:focus {
			background-color: color.scale($btnColorActive, $lightness: 50%);
		}

		&--active {
			background-color: $btnColor;

			&:hover,
			&:focus {
				background-color: $btnColorActive;
			}
		}
	}
}
