@use "utils/variables";
@use "utils/mixins/selectors";

/* -----------------------------------
 *  Components
 * ----------------------------------- */

#{variables.$classPrefix} {
	/* elements */
	#{variables.$classPrefix}__widget {
		$widget: &;

		&-wrapper--simple {
			$wrapper: &;

			#{selectors.bottom-most-fn($widget)}-bubble {
				background: #fff;
				color: #212121;

				&:hover,
				&:focus {
					background-color: #ffde51;
				}

				@at-root {
					#{variables.$classPrefix}:not(.courier--widget-round) #{selectors.bottom-most-fn($wrapper)} #{selectors.bottom-most-fn(&)},
					#{variables.$classPrefix}--widget-tailed #{selectors.bottom-most-fn(&)} {
						&::after {
							border-top-color: #fff;
							border-right-color: #fff;
						}

						&:hover,
						&:focus {
							&::after {
								border-top-color: #ffde51;
								border-right-color: #ffde51;
							}
						}
					}
				}
			}
		}
	}
}
