@use "../popup/colors";

&-close-btn {
	position: absolute;
	top: 1em;
	right: 1em;
	display: block;
	padding: 0;

	& > img,
	& > svg {
		display: block;
		width: 1.5em;
		height: 1.5em;
	}

	& > svg {
		stroke: colors.$btnColorInactive;
		transition: stroke cubic-bezier(0.1, 1, 0.6, 1) 0.3s;
	}

	&:hover {
		cursor: pointer;
	}

	&:disabled {
		& > svg {
			stroke: #ddd;
		}
	}

	&:hover,
	&:active {
		&:enabled {
			& > svg {
				stroke: colors.$btnColorActive;
			}
		}
	}
}
