@use "../popup/colors";

/*
 * Main container
 */
&-main {
	position: relative;
	display: flex;
	width: 600px;
	max-width: 100%;
	min-height: 8em;
	padding: 2.5em 2.5em 1em;
	border-radius: 16px;
	background: colors.$mainBgColor;
}
