/*
 * Powered by section
 */
&-powered-by {
	padding: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.6em;
	line-height: 1.6;

	a {
		display: flex;
		align-items: center;
		text-decoration: none;
		color: inherit;

		& > p {
			color: #e6e6e6;
		}

		& > img {
			width: 8em;
			max-width: 100%;
		}
	}
}
