@use "sass:color";
@use "../../../utils/variables";
@use "../../../utils/mixins/selectors";
@use "colors";

/*
 * Footer
 */
&-footer {
	padding: 0.5em 1em;
	border-bottom-left-radius: colors.$wallBorderRadius;
	border-bottom-right-radius: colors.$wallBorderRadius;
	background-color: colors.$wallBgColor;
}
