@use "sass:color";
@use "../../../utils/mixins/palette";

$root: &;

/*
 * Interactions wrapper
 */
&-interactions {
	display: flex;
	justify-content: space-between;
	padding: 0 1em;
	// border-top: solid 1px rgba(0, 0, 0, 0.1);
}

/*
 * Message box wrapper
 */
&-message-box-wrapper {
	position: relative;
	flex: 1 0 100%;
	width: 100%;
	font-size: 16px; // set font size to 16px to avoid Safari zoom on focus
}

/*
 * Message box
 */
&-message-box {
	display: block;
	width: 100%;
	padding: 1em 3.5em 1em 1em;
	border-radius: 34px;
	background-color: $sendMessageBoxBgColor;
	line-height: 1;
	transition: background-color ease-out 0.3s;
	resize: none;

	&::placeholder {
		font-size: 0.8em;
		color: palette.get-palette-hue("foreground", 500);
	}

	&:disabled {
		background-color: $sendMessageBoxBgColorDisabled;
		cursor: not-allowed;
	}
}

/*
 * Send message button
 */
&-send-msg-btn {
	position: absolute;
	top: 50%;
	right: 6px;
	padding: 0.5em;
	border-radius: 50%;
	background: $btnColor;
	color: $sendMessageBoxBgColor;
	cursor: pointer;
	transform: translateY(-50%);
	transition: background-color cubic-bezier(0.1, 1, 0.6, 1) 0.3s;

	& > img,
	& > svg {
		display: block;
		width: 1.5em;
		height: 1.5em;
		transition: transform cubic-bezier(0.1, 1, 0.6, 1) 0.3s;
	}

	& > svg {
		& > path {
			stroke: currentColor;
			transition: stroke cubic-bezier(0.1, 1, 0.6, 1) 0.3s;
		}
	}

	@at-root {
		#{$root}-message-box:disabled &, &:disabled {
			cursor: not-allowed;

			background-color: $btnColorInactive;
		}
	}

	&:enabled {
		&:hover,
		&:active,
		&:focus-visible {
			background-color: color.scale($btnColor, $lightness: 5%);
			color: color.scale($sendMessageBoxBgColor, $lightness: 5%);

			& > img,
			& > svg {
				transform: rotate(90deg) scale(1.1, 1.1);
			}
		}
	}
}
