/*
 * Interactions wrapper
 */
&-interactions {
	display: flex;
	justify-content: space-between;
	padding: 0.5em 0.5em 0;
}

/*
 * Message box
 */
&-message-box {
	width: 100%;
	padding: 0.5em 1em;
	background-color: $sendMessageBoxBgColor;
	border-radius: 8px;
	line-height: 1.6;
	resize: none;
	transition: background-color ease-out 0.3s;

	&::placeholder {
		font-size: 0.8em;
		color: get-palette-hue('foreground', 500);
	}

	&:disabled {
		background-color: $sendMessageBoxBgColorDisabled;
		cursor: not-allowed;
	}
}

/*
 * Send message button
 */
&-send-msg-btn {
	margin-left: 0.5em;
	padding: 0.5em 1em;
	background: transparent;
	border-radius: 8px;
	cursor: pointer;

	& > img,
	& > svg {
		display: block;
		width: 2em;
		height: 2em;
		transition: transform cubic-bezier(0.1, 1, 0.6, 1) 0.3s;
	}

	& > svg {
		& > path {
			transition: fill cubic-bezier(0.1, 1, 0.6, 1) 0.3s;

			&:nth-child(1) {
				fill: darken($btnColorActive, 5%);
			}

			&:nth-child(2) {
				fill: $btnColorActive;
			}
		}
	}

	&:enabled {
		&:hover,
		&:active {
			& > img,
			& > svg {
				transform: rotate(10deg) scale(1.1, 1.1);
			}

			& > svg {
				& > path:nth-child(1) {
					fill: lighten(darken($btnColorActive, 5%), 5%);
				}

				& > path:nth-child(2) {
					fill: lighten($btnColorActive, 5%);
				}
			}
		}
	}

	&:disabled {
		cursor: not-allowed;

		& > svg {
			& > path:nth-child(1) {
				fill: mix(darken($btnColorInactive, 5%), #ddd, 50%);
			}

			& > path:nth-child(2) {
				fill: mix($btnColorInactive, #ddd, 50%);
			}
		}
	}
}
