@use "../../../utils/mixins/media-query/media-query-width";

/*
 * Overlay
 */
&-overlay {
	height: 100%;

	@include media-query-width.m-small-devices {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		// height: 100%;
		background-color: rgba(0, 0, 0, 0.6);
	}
}
