@use "../../../utils/variables";
@use "../../../utils/mixins/media-query/media-query-width";
@use "../../../utils/mixins/media-query/media-query-height";

/*
 * Wall container
 */
&-wall {
	position: absolute;
	bottom: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 400px;
	max-width: 100vw;
	height: 800px;
	max-height: 95%; // 95vh
	background: #fff;
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.18);
	// overflow: auto;

	@at-root #{variables.$classPrefix}--left #{variables.$classPrefix}__chat-wall {
		right: auto;
		left: 0;
	}

	@include media-query-width.min-m-small-devices {
		right: 1em;
		max-height: 100%; // 100vh

		@include media-query-height.media-query-up(1000) {
			max-height: 80%; // 80vh
		}

		@at-root #{variables.$classPrefix}--left #{variables.$classPrefix}__chat-wall {
			right: auto;
			left: 1em;
		}
	}
}
