@use "../../../utils/mixins/palette";
@use "sass:color";

/*
 * Work area
 */
&-work-area {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 1em;
	background-color: $workAreaBgColor;
	line-height: 1.4;
	box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.2);
	overflow: auto;

	/* width */
	&::-webkit-scrollbar {
		width: 10px;
	}

	/* track */
	&::-webkit-scrollbar-track {
		background-color: $workAreaScrollbarTrackColor;
	}

	/* handle */
	&::-webkit-scrollbar-thumb {
		background-color: $workAreaScrollbarHandleColor;
	}

	/* handle on hover */
	&::-webkit-scrollbar-thumb:hover {
		background-color: color.scale($workAreaScrollbarHandleColor, $lightness: -10%);
	}
}

/*
 * Message
 */
&-message {
	padding: 0.5em 1em;
	background-color: $messageBgColorIncoming;
	margin-bottom: 1em;
	align-self: flex-start;
	border-radius: 4px 4px 4px 0;

	&--self {
		align-self: flex-end;
		background-color: $messageBgColorOutgoing;
		border-radius: 4px 4px 0;
	}

	&--system {
		align-self: center;
		background-color: transparent;
		text-align: center;
		font-style: italic;
	}

	&:last-child {
		margin-bottom: 0;
	}

	a {
		color: $linkColor;
		text-decoration: none;
		transition: color cubic-bezier(0.1, 1, 0.6, 1) 0.3s;

		&:hover {
			color: color.scale($linkColor, $lightness: 30%);
		}
	}
}

&-dots {
	display: flex;
	margin: -2px;

	&-dot {
		width: 0.5em;
		height: 0.5em;
		background-color: rgba(33, 33, 33, 0.25);
		margin: 2px;
		border-radius: 50%;

		&:nth-child(1) {
			@include bounceUp1;
		}

		&:nth-child(2) {
			@include bounceUp2;
		}

		&:nth-child(3) {
			@include bounceUp3;
		}
	}
}

/*
 * Timestamp
 */
&-timestamp {
	display: block;
	align-self: flex-start;
	margin-bottom: 0.2rem;
	font-size: 0.8em;
	color: palette.get-palette-hue("foreground", 800);

	&--self {
		align-self: flex-end;
	}
}

/*
 * Topics
 */
&-topics {
	position: relative;
	display: flex;
	// flex-wrap: wrap;
	margin: -4px;
	justify-content: center;
}

&-topic {
	padding: 0.5em 1em;
	background-color: $messageTopicPrimaryColor;
	border: solid 2px $messageTopicSecondaryColor;
	margin: 4px;
	border-radius: 14px;
	color: $messageTopicSecondaryColor;
	transition: background-color cubic-bezier(0.1, 1, 0.6, 1) 0.3s, color cubic-bezier(0.1, 1, 0.6, 1) 0.2s;

	&:hover:enabled {
		cursor: pointer;
	}

	&:hover:enabled,
	&:focus:enabled,
	&--active {
		background-color: $messageTopicSecondaryColor;
		color: $messageTopicPrimaryColor;
	}
}
