@use "../../utils/variables";

/*
 * Slide in from the bottom
 */

@keyframes slideInBottom {
	0%,
	100% {
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	0% {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}

	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@mixin slideInBottom() {
	@extend %animated;

	animation-name: slideInBottom;
}

#{variables.$classPrefix}

 {
	&__slide-in-bottom {
		@include slideInBottom;
	}
}
