// $sendMsgBtnColor1: #2196f3;
// $sendMsgBtnColor2: #64b5f6;
// $closeBtnColor: #64b5f6; // #f44336;
// $optionsBtnColor: #64b5f6; // #000;
$btnColorInactive: #cfe4f5;
$btnColorActive: #64b5f6;
$linkColor: #0b77ce;
$workAreaBgColor: #fbfbfb;
$messageBgColorIncoming: #e6e6e6;
$messageBgColorOutgoing: #ddf0ff;
$sendMessageBoxBgColor: #f7fbff;

#{$classPrefix}__chat {
  position: fixed;
  bottom: 0;
  right: 1em;

  /*
   * Wall container
   */
  &-wall {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    max-width: 100%;
    height: 600px;
    max-height: 100vw;
    background: #fff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    // overflow: auto;
  }

  /*
   * Header
   */
  &-header {
    display: block;
  }

  /*
   * Menu
   */
  &-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;
  }

  /*
   * Identity
   */
  &-identity {
    display: flex;
    align-items: center;
    padding: 0.5em 1em;
    border-top: solid 1px rgba(0, 0, 0, 0.05);
  }

  /*
   * Avatar
   */
  &-avatar {
    position: relative;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    line-height: 3em;

    &::before {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      width: 14px;
      height: 14px;
      background: rgb(53, 208, 61);
      border: 2px solid #fff;
      border-radius: 50%;
    }

    & > img {
      display: block;
      border-radius: inherit;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  /*
   * Name and website
   */
  &-name {
    padding: 0.5em;
    line-height: 1.6;

    & > p {
      &:nth-child(1) {
        font-weight: bold;
      }

      &:nth-child(2) {
        font-size: 0.9em;

        & > a {
          color: $linkColor;
          text-decoration: none;
          transition: color cubic-bezier(0.1, 1, 0.6, 1) 0.3s;

          &:hover {
            color: lighten($linkColor, 10%);
          }
        }
      }
    }
  }

  /*
   * Work area
   */
  &-work-area {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1em;
    background-color: $workAreaBgColor;
    overflow: auto;
  }

  /*
   * Message
   */
  &-message {
    padding: 0.5em 1em;
    background-color: $messageBgColorIncoming;
    margin-bottom: 1em;
    align-self: flex-start;

    &--self {
      align-self: flex-end;
      background-color: $messageBgColorOutgoing;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  /*
   * Interactions wrapper
   */
  &-interactions {
    display: flex;
    justify-content: space-between;
    padding: 1em;
  }

  /*
   * Message box
   */
  &-message-box {
    width: 100%;
    padding: 0.5em 1em;
    background-color: $sendMessageBoxBgColor;
    border-radius: 8px;
    line-height: 1.6;

    &::placeholder {
      font-size: 0.8em;
      color: get-palette-hue('foreground', 500);
    }
  }

  /*
   * Send message button
   */
  &-send-msg-btn {
    margin-left: 0.5em;
    padding: 0.5em 1em;
    background: transparent;
    border-radius: 8px;

    & > img,
    & > svg {
      display: block;
      width: 2em;
      height: 2em;
      transition: transform cubic-bezier(0.1, 1, 0.6, 1) 0.3s;
    }

    & > svg {
      & > path {
        transition: fill cubic-bezier(0.1, 1, 0.6, 1) 0.3s;

        & > path:nth-child(1) {
          fill: $btnColorInactive;
        }

        & > path:nth-child(2) {
          fill: darken($btnColorInactive, 5%);
        }
      }
    }

    &:hover {
      cursor: pointer;
    }

    &:hover,
    &:active {
      & > img,
      & > svg {
        transform: rotate(10deg) scale(1.1, 1.1);
      }

      & > svg {
        & > path:nth-child(1) {
          fill: $btnColorActive;
        }

        & > path:nth-child(2) {
          fill: darken($btnColorActive, 5%);
        }
      }
    }

    &:disabled {
      & > svg {
        & > path:nth-child(1) {
          fill: #bdbdbd;
        }

        & > path:nth-child(2) {
          fill: #ddd;
        }
      }
    }
  }

  /*
   * Close button
   */
  &-close-btn {
    padding: 1em;

    & > img,
    & > svg {
      display: block;
      width: 1em;
      height: 1em;
      transition: transform cubic-bezier(0.1, 1, 0.6, 1) 0.3s;
    }

    & > svg {
      & > g {
        fill: $btnColorInactive;
        transition: fill cubic-bezier(0.1, 1, 0.6, 1) 0.3s;
      }
    }

    &:hover {
      cursor: pointer;
    }

    &:hover,
    &:active {
      & > svg {
        transform: rotate(90deg);

        & > g {
          fill: $btnColorActive;
        }
      }
    }
  }

  /*
   * Options button
   */
  &-options-btn {
    padding: 1em;

    & > img,
    & > svg {
      display: block;
      width: 1em;
      height: 1em;
      transition: transform cubic-bezier(0.1, 1, 0.6, 1) 0.3s;
    }

    & > svg {
      & > g {
        fill: $btnColorInactive;
        transition: fill cubic-bezier(0.1, 1, 0.6, 1) 0.3s;
      }
    }

    &:hover {
      cursor: pointer;
    }

    &:hover,
    &:active {
      &:enabled > svg {
        transform: rotate(90deg);

        & > g {
          fill: $btnColorActive;
        }
      }
    }

    &:disabled {
      & > svg {
        & > g {
          fill: #ddd;
        }
      }
    }
  }
}
