// $sendMsgBtnColor1: #2196f3;
// $sendMsgBtnColor2: #64b5f6;
// $closeBtnColor: #64b5f6; // #f44336;
// $optionsBtnColor: #64b5f6; // #000;
// buttons
$btnColorInactive: #cfe4f5;
$btnColorActive: #64b5f6;
// work area
$linkColor: #0b77ce;
$workAreaBgColor: #fbfbfb;
// messages
$messageBgColorIncoming: #e6e6e6;
$messageBgColorOutgoing: #ddf0ff;
$messageTopicPrimaryColor: #fff;
$messageTopicSecondaryColor: #41abff;
// interactions
$sendMessageBoxBgColor: #f7fbff;

#{$classPrefix}__chat {
  position: fixed;
  bottom: 0;
  right: 0;

  @include min-m-small-devices {
    right: 1em;
  }

  @import "chat/wall"; // the main chat container
  @import "chat/header"; // the header section including the avatar, name, website, title, options and close buttons
  @import "chat/work-area"; // the work area where the messages are shown
  @import "chat/interactions"; // the footer area including message box and message send button
  @import "chat/powered-by"; // the powered by section
}
