@use "../../utils/variables";
@use "../../utils/mixins/order";

#{variables.$classPrefix}__chat {
	position: fixed;
	right: 0;
	bottom: 0;
	height: 100%;
	z-index: order.get-order("main");

	@at-root #{variables.$classPrefix}--left #{variables.$classPrefix}__chat {
		right: auto;
		left: 0;
	}

	//@include meta.load-css('chat/overlay');
	//@include meta.load-css('chat/wall');
	//@include meta.load-css('chat/header');
	//@include meta.load-css('chat/work-area');
	//@include meta.load-css('chat/interactions');
	//@include meta.load-css('chat/footer');
	//@include meta.load-css('chat/powered-by');

	@import "chat/overlay"; // the main chat container
	@import "chat/wall"; // the main chat container
	@import "chat/header"; // the header section including the avatar, name, website, title, options and close buttons
	@import "chat/work-area"; // the work area where the messages are shown
	@import "chat/interactions"; // the footer area including message box and message send button
	@import "chat/footer"; // the footer section
	@import "chat/powered-by"; // the powered by section

	/* optional modules */
	@import "../modules/glide";
}
