@use "../../utils/variables";
@use "../../utils/mixins/palette";
@use "../../utils/mixins/order";

// buttons
$btnColorActive: palette.get-palette-hue('accent-1', 500);
$btnColorInactive: #b5d4ec;
$btnColorActive: #64b5f6;
// main
$mainBgColor: #fbfbfb;
// work area
$linkColor: palette.get-palette-hue('accent-1', 500);
$workAreaScrollbarTrackColor: #e6e6e6;
$workAreaScrollbarHandleColor: #b3b3b3;
// content
$contentCarouselPrimaryColor: #fff;

#{variables.$classPrefix}__popup {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: order.get-order("main");

	@import "popup/overlay"; // the main popup container
	@import "popup/wrapper"; // the popup wrapper
	@import "popup/main"; // the main popup container
	@import "popup/work-area"; // the work area where the content is shown
	@import "popup/powered-by"; // the powered by section
	@import "popup/close-button"; // the close button

	/* optional modules */
	@import "../modules/glide";
}
