@use "../../utils/variables";
@use "../../utils/mixins/order";
@use "../../utils/mixins/selectors";
@use "sass:color";

// bubble
$bubbleBgColor: #fff;
$bubbleColor: #212121;
$bubbleBorder: #f1f1f1;
// buttons
$btnColorInactive: #cfe4f5;
$btnColorActive: #64b5f6;

#{variables.$classPrefix}__widget {
	$widget: &;

	&-wrapper {
		position: fixed;
		right: 1em;
		bottom: 1em;
		margin-left: 1em;
		z-index: order.get-order("widget");

		@at-root #{variables.$classPrefix}--left #{variables.$classPrefix}__widget-wrapper {
			right: auto;
			left: 1em;
			margin-left: 0;
			margin-right: 1em;
		}

		//@at-root #{variables.$classPrefix}--widget-round #{variables.$classPrefix}__widget-wrapper {
		//	bottom: 1em;
		//}

		@at-root #{variables.$classPrefix}--widget-tailed #{variables.$classPrefix}__widget-wrapper {
			bottom: 2em;
		}
	}

	&-bubble {
		padding: 0.5em 1em;
		border: solid 1px $bubbleBorder;
		border-radius: 4px;
		background-color: $bubbleBgColor;
		text-align: left;
		color: $bubbleColor;
		// box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
		transition: background-color cubic-bezier(0.1, 1, 0.6, 1) 0.3s, color cubic-bezier(0.1, 1, 0.6, 1) 0.3s;
		filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.12));

		@at-root {
			//#{selectors.parent-fn(&)} #{selectors.bottom-most-fn($widget)}-wrapper--simple #{selectors.bottom-most-fn(&)} {
			//	padding: 0.5em 1em;
			//}

			#{selectors.parent-fn(&)} #{selectors.bottom-most-fn($widget)}-wrapper--advanced #{selectors.bottom-most-fn(&)} {
				position: relative;
				padding: 0.8em 1.5em;

				&:hover, &:focus {
					background-color: #0085fe;
					color: #fff;
				}
			}
		}

		// Bubble arrow
		@at-root {
			#{selectors.parent-fn(&)}:not(#{variables.$classPrefix}--widget-round) #{selectors.bottom-most-fn($widget)}-wrapper--simple #{selectors.bottom-most-fn(&)},
			#{variables.$classPrefix}--widget-tailed #{selectors.bottom-most-fn(&)} {
				&::after {
					content: "";
					position: absolute;
					right: 0.5em;
					bottom: calc(-1em + 3px);
					display: block;
					border: solid 0.5em $bubbleBgColor;
					border-bottom-color: transparent;
					border-left-color: transparent;
					transition: border-color cubic-bezier(0.1, 1, 0.6, 1) 0.3s;
				}
			}
		}

		&:hover {
			cursor: pointer;
		}

		&:hover,
		&:focus {
			background-color: color.scale($bubbleBgColor, $lightness: 5%);

			&::after {
				border-top-color: color.scale($bubbleBgColor, $lightness: 5%);
				border-right-color: color.scale($bubbleBgColor, $lightness: 5%);
			}
		}

		@at-root {
			#{variables.$classPrefix}--widget-round #{variables.$classPrefix}__widget-bubble {
				padding: 1em;
				border-radius: 50%;
			}
		}
	}

	&-img {
		display: block;

		& > img,
		& > svg {
			display: block;
			width: 2em;
			height: 2em;
		}

		@at-root {
			$root: #{selectors.parent-fn(&)};

			&#{selectors.bottom-most-fn(&)}--big {
				& > img,
				& > svg {
					display: block;
					width: 2.5em;
					height: 2.5em;
				}
			}

			#{selectors.parent-fn(&)} #{selectors.bottom-most-fn($widget)}-wrapper--advanced #{selectors.bottom-most-fn(&)} {
				position: relative;
				padding: 6px;
				border-radius: 50%;
				background-color: #dcd0ff;

				&::before {
					content: "";
					position: absolute;
					right: -3px;
					top: -3px;
					width: 17px;
					height: 17px;
					border: 2px solid #fff;
					border-radius: 50%;
					background-color: #bbb;
				}
			}

			#{selectors.parent-fn(&)} #{selectors.bottom-most-fn($widget)}-wrapper--advanced #{variables.$classPrefix}__widget--online #{selectors.bottom-most-fn(&)} {
				&::before {
					background-color: #35d03d;
				}
			}
		}
	}

	// Start style: Simple

	&-greeting {
		margin-left: 1em;
	}

	// End style: Simple

	// Start style: Advanced

	&-greeting-wrapper {
		display: flex;
		align-items: center;
	}

	&-greeting-title {
		margin-left: 1em;
		font-size: 1.2em;
		font-weight: 500;
	}

	&-greeting-msg {
		max-width: 20rem;
		margin-top: 0.8em;
		line-height: 1.4;
		// color: #525b76;
		transition: color cubic-bezier(0.1, 1, 0.6, 1) 0.3s;

		@at-root {
			#{selectors.parent-fn(&)} #{selectors.bottom-most-fn($widget)}-bubble:hover #{selectors.bottom-most-fn(&)} {
				color: #e2e6f7;
			}
		}
	}

	&-name {
		margin-top: 0.5em;
		font-size: 0.9em;
		color: #727c9a;
		transition: color cubic-bezier(0.1, 1, 0.6, 1) 0.3s;

		@at-root {
			#{selectors.parent-fn(&)} #{selectors.bottom-most-fn($widget)}-bubble:hover #{selectors.bottom-most-fn(&)} {
				color: #e2e6f7;
			}
		}
	}

	// End style: Advanced

	&-hide-btn {
		position: absolute;
		top: -0.7em;
		right: -0.7em;
		width: 1.5em;
		height: 1.5em;
		padding: 0.3em;
		border: solid 1px $bubbleBorder;
		border-radius: 50%;
		background: #fff;

		& > img,
		& > svg {
			display: block;
			width: 100%;
			height: 100%;
			// transition: transform cubic-bezier(0.1, 1, 0.6, 1) 0.3s;
		}

		& > svg {
			& > g {
				fill: $btnColorInactive;
			}
		}

		&:hover {
			cursor: pointer;
		}

		&:hover,
		&:focus {
			& > img,
			& > svg {
				// transform: rotate(90deg);
			}

			& > svg {
				& > g {
					fill: $btnColorActive;
				}
			}
		}

		@at-root {
			#{variables.$classPrefix}--widget-round #{variables.$classPrefix}__widget-hide-btn {
				right: -0.3em;
				top: -0.3em;
			}
		}
	}
}
