@use "../../utils/variables";
@use "../../utils/mixins/order";
@use "sass:color";

// bubble
$bubbleBgColor: #6874e8;
$bubbleColor: #fff;
$bubbleBorder: #f1f1f1;
// buttons
$btnColorInactive: #cfe4f5;
$btnColorActive: #64b5f6;

#{variables.$classPrefix}__widget {
	&-wrapper {
		position: fixed;
		bottom: 2em;
		right: 1em;
		z-index: order.get-order('widget');

		@at-root #{variables.$classPrefix}--left #{variables.$classPrefix}__widget-wrapper {
			right: auto;
			left: 1em;
		}

		@at-root #{variables.$classPrefix}--widget-round #{variables.$classPrefix}__widget-wrapper {
			bottom: 1em;
		}
	}

	&-bubble {
		display: flex;
		align-items: center;
		padding: 0.5em 1em;
		border: solid 1px $bubbleBorder;
		background: $bubbleBgColor;
		color: $bubbleColor;
		border-radius: 4px;
		// box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
		filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.12));
		transition: background-color cubic-bezier(0.1, 1, 0.6, 1) 0.3s;

		// bubble arrow
		&::after {
			content: "";
			position: absolute;
			bottom: calc(-1em + 3px);
			right: 0.5em;
			display: block;
			border: solid 0.5em $bubbleBgColor;
			border-bottom-color: transparent;
			border-left-color: transparent;
			transition: border-color cubic-bezier(0.1, 1, 0.6, 1) 0.3s;
		}

		&:hover {
			cursor: pointer;
		}

		&:hover,
		&:focus {
			background-color: color.scale($bubbleBgColor, $lightness: 5%);

			&::after {
				border-top-color: color.scale($bubbleBgColor, $lightness: 5%);
				border-right-color: color.scale($bubbleBgColor, $lightness: 5%);
			}
		}

		@at-root {
			#{variables.$classPrefix}--widget-round #{variables.$classPrefix}__widget-bubble {
				padding: 1em;
				border-radius: 50%;

				&::after {
					content: none;
				}
			}
		}
	}

	&-img {
		display: block;

		& > img,
		& > svg {
			display: block;
			width: 2em;
			height: 2em;
		}
	}

	&-txt {
		margin-left: 1em;
	}

	&-hide-btn {
		position: absolute;
		right: -0.7em;
		top: -0.7em;
		width: 1.5em;
		height: 1.5em;
		padding: 0.3em;
		border: solid 1px $bubbleBorder;
		background: #fff;
		border-radius: 50%;

		& > img,
		& > svg {
			display: block;
			width: 100%;
			height: 100%;
			// transition: transform cubic-bezier(0.1, 1, 0.6, 1) 0.3s;
		}

		& > svg {
			& > g {
				fill: $btnColorInactive;
			}
		}

		&:hover {
			cursor: pointer;
		}

		&:hover,
		&:focus {
			& > img,
			& > svg {
				// transform: rotate(90deg);
			}

			& > svg {
				& > g {
					fill: $btnColorActive;
				}
			}
		}

		@at-root {
			#{variables.$classPrefix}--widget-round #{variables.$classPrefix}__widget-hide-btn {
				right: -0.3em;
				top: -0.3em;
			}
		}
	}
}
