/*
 * Animation mixins
 */

:root {
  --#{$variablePrefix}-animate-duration: 1s;
  --#{$variablePrefix}-animate-delay: 1s;
  --#{$variablePrefix}-animate-repeat: 1;
}

%animated {
  animation-duration: var(--#{$variablePrefix}-animate-duration);
  animation-fill-mode: both;
}

#{$classPrefix} {
  &__anim-timing {
    &--third {
      animation-duration: calc(var(--#{$variablePrefix}-animate-duration) * 0.3);
    }

    &--half {
      animation-duration: calc(var(--#{$variablePrefix}-animate-duration) * 0.5);
    }
  }
}

/*
 * Bounce in from the left side
 */

@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0) scaleX(3);
  }

  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0) scaleX(1);
  }

  75% {
    transform: translate3d(-10px, 0, 0) scaleX(0.98);
  }

  90% {
    transform: translate3d(5px, 0, 0) scaleX(0.995);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@mixin bounceInLeft() {
  @extend %animated;

  animation-name: bounceInLeft;
}

#{$classPrefix} {
  &__bounce-in-left {
    @include bounceInLeft;
  }
}

/*
 * Appear from the bottom
 */

@keyframes appearBottom {
  from,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0) scale(0.8, 0.8);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(1, 1);
    transform: translate3d(0, 0, 0) scale(1, 1);
  }
}

@mixin appearBottom() {
  @extend %animated;

  animation-name: appearBottom;
}

#{$classPrefix} {
  &__appear-bottom {
    @include appearBottom;
  }
}

/*
 * Slide in from the bottom
 */

@keyframes slideInBottom {
  from,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@mixin slideInBottom() {
  @extend %animated;

  animation-name: slideInBottom;
}

#{$classPrefix} {
  &__slide-in-bottom {
    @include slideInBottom;
  }
}
