/* PREFIXES */
$classPrefix: ".courier";
$variablePrefix: "courier";

/* FONT */
$fontSizeUnit: "rem";
$fontSizePx: 16; // in px
$fontSizeRem: 1; // in rem;

$palette: (
	interface: (
		0 : #fff,
		100: #f3f9fb,
		200: #dde3e5,
		300: #c7ccce,
		400: #b1b6b7,
		500: #a1a6a7,
		600: #919596,
		700: #818586,
		800: #717475,
		900: #616464
	),
	foreground: (
		100: #f4f8f7,
		200: #dee2e1,
		300: #c8cbcb,
		400: #b2b5b4,
		500: #9c9e9e,
		600: #868887,
		700: #6f7171,
		800: #595b5a,
		900: #434444,
		1000: #212121
	),
	accent-1: (
		100: #9ea6f0,
		300: #838dec,
		500: #6874e8,
		700: #565fbe,
		900: #434a94
	),
	success: (
		100: #68be87,
		300: #3dac65,
		500: #139a43,
		700: #107f37,
		900: #0d632b
	),
	warning: (
		100: #f8e398,
		300: #f6db7b,
		500: #f4d35e,
		700: #c8ad4d,
		900: #9c873c
	),
	danger: (
		100: #fb6466,
		300: #fb5355,
		500: #fb4245,
		700: #e53c3f,
		900: #ce3739
	)
);

$order: (
	root : 0,
	overlay: 1001,
	widget: 1002,
	main: 1040,
	front: 1041,
);

/* RESPONSIVE BREAKPOINTS */
$media-xs: 480;
$media-ms: 768;
$media-sm: 992;
$media-md: 1200;
$media-lg: 1400;
$media-xl: 1600;
