@charset "utf-8";

@use "../utils/variables";
@use "../utils/mixins/order";
@use "../utils/mixins/media-query/media-query-width";
@use "../utils/mixins/font-size";
@use "../utils/mixins/palette";
@use "../libs/decimal-round";
@use "sass:meta";

@import "../utils/animations";

/* ------------------------------------------
 *  Libraries - normalize element appearance
 *  under the root element
 * ----------------------------------------- */

#{variables.$classPrefix} {
	//@import 'libs/normalize';
	@include meta.load-css("../libs/normalize");

	/* normalize focus outline effect */
	input,
	textarea,
	button,
	a {
		&:focus {
			outline: solid 2px #64b5f6;
		}
	}
}

/* -----------------------------------
 *  Global
 * ----------------------------------- */

// todo: host the font on own servers
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500&display=swap");

/* -----------------------------------
 *  Root
 * ----------------------------------- */

#{variables.$classPrefix} {
	font-family: "Noto Sans", sans-serif;
	font-size: #{font-size.get-font-size-core("px")};
	color: #{palette.get-palette-hue("foreground", 1000)};
	z-index: order.get-order("main");

	@include media-query-width.medium-devices {
		font-size: 15px; // #{decimal-round.decimal-floor(font-size.get-font-size-core-raw("px") * 0.9) + "px"};
	}

	@include media-query-width.m-small-devices {
		font-size: 16px; // #{decimal-round.decimal-floor(font-size.get-font-size-core-raw("px") * 0.8) + "px"};
	}

	& * {
		box-sizing: border-box;
	}

	/* -----------------------------------
	 *  Components
	 * ----------------------------------- */

	@import '../core/modules/flex';

	/* core elements */
	@import '../core/elements/widget';
	// @include meta.load-css("core/elements/widget");

	/* optional elements */
	@import "../core/elements/chat";
	// @include meta.load-css('core/elements/chat');

	/* optional modules - root elements */
	@import "../core/modules/tooltip";
	@import "../core/modules/icon";

	/* antialias font */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizelegibility;

	/* modifiers */
	// @import 'core/modifiers';
	@include meta.load-css("../core/modifiers");

	/* root modifiers */
}
